body {
background-color: #228;
color: white;}


.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #11F;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}




table { width: 100%;}




th {text-align: left;}

td, th {width: 45%; margin: 5px;}

textarea, iframe {
	border: 2px solid #ddd;
	height: 500px;
	width: 90%;
	margin: 5px;
	padding: 5px; 
	background-color: white;
	}
	